<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Delete User</title>
        <link rel="stylesheet" href="/css/home.css" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create User</a></li>
        </ul>

        <h1>Học Node Js</h1>
        <hr />
        <div class="form-add-new">
            <form action="/delete-user" method="post">
                <fieldset class="form-content">
                    <legend>Delete user</legend>
                    <div class="input-group d-none">
                        <label for="">ID: </label>
                        <input
                            type="text"
                            name="userId"
                            value="<%= userDelete.id %>"
                        />
                    </div>

                    <div class="">
                        <label for=""
                            >Are you sure to delete this user with Email:
                        </label>
                        <input
                            type="text"
                            name="email"
                            value="<%= userDelete.email %>"
                        />
                    </div>

                    <div>
                        <button class="btn btn-save">Delete</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
